extends layout

block content
	body.layout-full.page-error
		div.page.vertical-align.text-center
			div.page-content.vertical-align-middle
					header
							h1 404
							p  Page Not Found !
							p.error-advise YOU SEEM TO BE TRYING TO FIND HIS WAY HOME
							a.btn.btn-primary.btn-round(href=process.env['WEB_URL']+'/') GO TO HOME PAGE


